Repository thesold/stacklint: changes, and which lint-staged commands are due for each by the changed paths.
All: jsonlint, markdownlint, eslint

.lintstagedrc:

{
    "*.json": [
        "jsonlint"
    ],
    ".*rc": [
        "jsonlint"
    ],
    "*.md": [
        "markdownlint"
    ],
    "*.js": [
        "eslint"
    ]
}

We're going to need to allow console logging, it is a CLI tool after all.
  .eslintrc
Due: jsonlint

Set no-console to warn by deafult for JS as it is quite a common requirement.
  src/stacks/js/json/.eslintrc
Due: jsonlint

Fix linting errors in JS
  bin/lint.js
  src/helpers/mergejson.js
Due: eslint

Update version
  package.json
Due: jsonlint

Updated readme and license
  LICENSE
  readme.md
Due: markdownlint

Link npm version badge directly to NPM website
  readme.md
Due: markdownlint

Add Javascript example in readme
  readme.md
Due: markdownlint

Update version for npm
  package.json
Due: jsonlint

Fix issue caused by lint insisting on a return value which causes problems with lodash mergeWith.
  src/helpers/mergejson.js
Due: eslint

Validate source fodler exists to avoid errors when no stubs exist for a stack to fix #7
  bin/lint.js
  package.json
Due: jsonlint, eslint

Show full error log for php based stacks by default
  package.json
  src/stacks/laravel/stubs/phpcs.xml
  src/stacks/php/stubs/phpcs.xml
Due: jsonlint

Give the user a chance to back-out of the installation after displaying a list of files which will be created or modified to fix #6
  bin/lint.js
  package-lock.json
  package.json
Due: jsonlint, eslint

Explain git hook issue to users in readme
  readme.md
Due: markdownlint

Ensure errors in promise are caught to avoid UnhandledPromiseRejectionWarning
  bin/lint.js
Due: eslint

Update package dependencies to latest versions
  package-lock.json
  package.json
Due: jsonlint

Update all stacks to latest dependency versions
  src/stacks/airbnb/json/package.json
  src/stacks/all/json/package.json
  src/stacks/js/json/package.json
  src/stacks/json/json/package.json
  src/stacks/laravel/json/composer.json
  src/stacks/md/json/package.json
  src/stacks/php/json/composer.json
  src/stacks/scss/json/package.json
  src/stacks/vue/json/package.json
Due: jsonlint

Move parse to correct location after updating to latest version of eslint
  src/stacks/js/json/.eslintrc
Due: jsonlint

Import recommended vue linting standards with modified indentation for consistancy across stacks.
  src/stacks/vue/json/.eslintrc
Due: jsonlint

0.5.0
  package-lock.json
  package.json
Due: jsonlint

Update all packages and fix vue linting
  package-lock.json
  package.json
  src/stacks/airbnb/json/.eslintrc
  src/stacks/airbnb/json/package.json
  src/stacks/all/json/package.json
  src/stacks/js/json/.eslintrc
  src/stacks/js/json/package.json
  src/stacks/laravel/json/composer.json
  src/stacks/md/json/package.json
  src/stacks/php/json/composer.json
  src/stacks/scss/json/package.json
  src/stacks/vue/json/.eslintrc
  src/stacks/vue/json/package.json
Due: jsonlint

0.5.1
  package-lock.json
  package.json
Due: jsonlint
